.habit-line {
    background-color: #F4F3F3;
}

tr td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

tr td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.habit-line td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.habit-details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.habit-name {
    display: inline-block;
    font-size: 18px;
    width: 260px;
    color: #262E4E;
    margin-right: 20px;
    margin-left: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.icon-btn {
    background: none;
    border: none;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.edit-btn {
    margin-right: 15px;
}

.progress-number {
    font-size: 18px;
    color: #262E4E;
    text-align: center;
}