.habit-line {
    background-color: #F4F3F3;
    display: grid;
    grid-template-columns: 34% repeat(7, 8.5%) 6%;
    align-items: center;
    justify-items: center;
    border-radius: 15px;
    padding: 20px 0 20px 0;
    margin-bottom: 10px;
}

.habit-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.habit-name {
    font-size: 18px;
    width: 100%;
    color: #262E4E;
    margin-right: 20px;
    margin-left: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.habit-details-buttons {
    display: flex;
    margin-right: clamp(20px, 3vw, 60px);
}

.icon-btn {
    background: none;
    border: none;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.edit-btn {
    margin-right: 15px;
}

.progress-number {
    font-size: 18px;
    color: #262E4E;
    text-align: center;
}

.second-habit-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.checkbox-line {
    display: flex;
    gap: clamp(4px, calc(10 * (100vw - 320px) / 122), 14px);

}

@media (max-width: 767px) {
    .habit-line {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-bottom: 12px;
        padding: 16px;
    }

    .habit-details {
        margin-bottom: 12px;
    }

    .habit-name {
        font-size: 16px;
        width: 100%;
        margin-right: 32px;
        margin-left: 0;
    }

    .habit-details-buttons {
        margin-right: 0;
    }

    .progress-number {
        font-size: 20px;
    }
}