.delete-popup-text {
    font-size: 16px;
    margin-bottom: 20px;
}

.delete-popup-text span {
    font-size: 20px;
}

.delete-btn {
    color: #FFF;
    margin-bottom: 20px;
    background-color:#ee4e4e;
    width: 375px;
    height: 60px;
    text-align: center;
    border-radius: 15px;
    border: none;
    cursor: pointer;

}