.week-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.day {
    color: #92959F;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 80px;
}

.day-name{
    font-size: 16px;
}

.day-number{
    font-size: 24px;
}