.day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #92959F;
    gap: 15px;
    font-family: 'Poppins', sans-serif;
}

.day-name {
    font-size: 16px;
}

.day-number {
    font-size: 24px;
}

.today-name {
    font-size: 16px;
    color: #262E4E;
}

.today-number {
    font-size: 24px;
    color: #262E4E;
}