.bottom-sheet-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.bottom-sheet {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 10px 10px 0 0;
  padding: 16px;

  transform: translateY(100%);
  transition: transform 0.5s ease;

  display: flex;
  justify-content: center;
}

.bottom-sheet.open {
  transform: translateY(0);
}