.nav-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 92px;
    background: #F4F3F3;
    padding-top: 12px;
    z-index: 10;
}

.navbar {
    display: flex;
    gap: clamp(40px, 12vw, 60px);
    justify-content: center;
}

.mobile-nav-button {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 2px;
    font-size: 12px;
    align-items: center;
    color: #92959F;
    border: none;
    width: 72px;
    cursor: pointer;
}

.mobile-nav-button.active {
    color: #4A64FD;
}