.week-switcher {
    display: flex;
    gap: 25px;
    position: relative;
}

.current-week-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #262E4E;
    display: flex;
    align-items: flex-end;
    height: 40px;
    cursor: pointer;
}

.week-switcher-arrow {
    display: flex;
    gap: clamp(5px, calc(10 * (100vw - 375px) / 105), 15px);
}

.week-switcher-arrow button {
    background: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #92959F;
}

.arrow-right {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .current-week-button {
        position: absolute;
        font-size: 14px;
        right: 0;
        bottom: calc(100% + 20px);
    }
}