.nav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: #262E4E;
    font-size: 32px;
    margin-bottom: 20px;
}

.progress {
    font-size: 16px;
    color: #262E4E;
    margin-left: 30px;
}

.primary {
    margin-right: 65px;
    background-color: #4A64FD;
}