.check-circle {
  display: flex;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.check-circle input {
  display: none;
}

.check-circle .checkbox {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #666C82; 
  background-color: #fff;
  transition: background-color 0.2s, border-color 0.2s;
  box-sizing: border-box;
}

.check-circle input:checked + .checkbox {
  border-color: #254ee2;
  background-color: #254ee2;
}

.check-circle input:disabled + .checkbox {
  border-color: #333646;
  background-color: #333646;
}

