h2 {
  font-size: 24px;
  color: #262E4E;
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 15px;
}

form,
.delete-popup {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
}

input {
  font: inherit;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  cursor: pointer;
  color: #262E4E;
  background-color: white;
  border: 2px solid #B2B2C9;
  padding-left: 15px;
  font-size: 18px;
}

input::placeholder {
  color: #B2B2C9;
  font-size: 16px;
}

.field {
  margin-bottom: 25px;
}

.input-error {
  border-color: #ee4e4e;
}

.error-text {
  color: #ee4e4e;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 5px;
}

.weekdays-checkbox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle input {
  display: none;
}

.circle span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #B2B2C9;
  font-size: 22px;
  color: #B2B2C9;
  cursor: pointer;
  user-select: none;
}

.circle input:checked+span {
  background-color: none;
  border-color: #262E4E;
  color: #262E4E;
}

.color-radio-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.color-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-label input {
  display: none;
}

.color-label span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.tick {
  position: absolute;
  top: 1px;
}

.submit,
.edit {
  color: #FFF;
  background-color: #4A64FD;
  width: 375px;
  height: 60px;
  text-align: center;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.cancel {
  color: #262E4E;
  background-color: white;
  border: 2px solid #B2B2C9;
  width: 375px;
  height: 60px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}

.delete-popup-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.delete-popup-text span {
  font-size: 20px;
}

.submit.delete-btn {
  background-color: #ee4e4e;
}

.bottom-text {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.bottom-text span {
  color: #4A64FD;
  margin-left: 5px;
  cursor: pointer;
}

.bottom-btn-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {

  form,
  .delete-popup {
    width: 100%;
  }

  .bottom-btn-form {
    margin-bottom: 38px;
  }

  .submit,
  .edit,
  .cancel {
    width: 100%;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 24px;
  }

  h3 {
    margin-bottom: 16px;
  }

  input {
    font-size: 16px;
  }

  input::placeholder {
    font-size: 14px;
  }

  .field {
    margin-bottom: 22px;
  }

  .error-text {
    font-size: 14px;
  }
}