.options-list {
    position: absolute;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 100;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    bottom: 100%;
    width: 100%;
    left: 0;
}

.nav-button.options {
    padding: 10px;
    border-radius: 7px;
}