h3 {
  font-size: 24px;
  color: #262E4E;
  margin-bottom: 30px;
}

form,
.delete-popup {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
}

input {
  font: inherit;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  cursor: pointer;
  color: #262E4E;
  background-color: white;
  border: 2px solid #B2B2C9;
  padding-left: 15px;
  font-size: 18px;
  margin-bottom: 25px;
}

input::placeholder {
  color: #B2B2C9;
  font-size: 16px;
}

.frequency-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 25px;
  position: relative;
}

.frequency-title {
  font-size: 18px;
  color: #262E4E;
}

.weekdays-checkbox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle input {
  display: none;
}

.circle span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #B2B2C9;
  font-size: 22px;
  color: #B2B2C9;
  cursor: pointer;
  user-select: none;
}

.circle input:checked+span {
  background-color: none;
  border-color: #262E4E;
  color: #262E4E;
}

.color-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 25px;
}

.color-title {
  font-size: 18px;
  color: #262E4E;
}

.color-radio-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.color-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-label input {
  display: none;
}

.color-label span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.tick {
  position: absolute;
  top: 1px;
}

.submit,
.edit {
  color: #FFF;
  margin-bottom: 20px;
  background-color: #4A64FD;
  width: 375px;
  height: 60px;
  text-align: center;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.cancel {
  color: #262E4E;
  background-color: white;
  border: 2px solid #B2B2C9;
  width: 375px;
  height: 60px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}

.name-error,
.checkbox-error {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10px);
  background: #ef9b9b;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  z-index: 10;
  width: fit-content;
}

.name-error {
  top: 55%;
}

.checkbox-error {
  top: 100%;
}

.name-error::before,
.checkbox-error::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  width: 15px;
  height: 15px;
  background: rgb(239, 155, 155);
  transform: translateX(-50%) rotate(45deg);
}

.delete-popup-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.delete-popup-text span {
  font-size: 20px;
}

.submit.delete-btn {
  background-color: #ee4e4e;
}

@media (max-width: 768px) {

  form,
  .delete-popup {
    width: 100%;
    position: relative;
    bottom: 0;
  }

  .submit,
  .edit {
    width: 100%;
    margin-bottom: 18px;
    margin-top: 26px;
  }

  .cancel {
    width: 100%;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 24px;
  }

  input {
    font-size: 16px;
    margin-bottom: 18px;
  }

  input::placeholder {
    font-size: 14px;
  }

  .frequency-wrapper,
  .color-wrapper {
    margin-bottom: 18px;
  }

  .frequency-title,
  .color-title {
    font-size: 16px;
  }
}