.out {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  height: 100%;
  background: #F4F3F3;
  z-index: 10;
  border-radius: 20px;
  transition: width 0.2s ease;
}

.out.sidebar-open {
  width: clamp(240px, 20vw, 270px);
}

.out.sidebar-closed {
  width: 94px;
}

.out.sidebar-closed .nav-item-text,
.out.sidebar-closed .app-name,
.out.sidebar-closed .account-text,
.out.sidebar-closed .options-button {
  display: none;
}

.main {
  flex: 1;
  margin: 20px;
  transition: margin-left 0.3s ease;
}

.main.sidebar-open {
  margin-left: clamp(260px, 22vw, 290px);
}

.main.sidebar-closed {
  margin-left: 114px;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

.sidebar-header {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.out.sidebar-closed .sidebar-header {
  justify-content: center;
}

.app-name {
  font-size: 24px;
  white-space: nowrap;
}

.toggle-button {
  border: none;
  cursor: pointer;
  padding: 0;
  background: none;
  line-height: 0;
  font-size: 0;
  height: 34px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: #262E4E;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.nav-button:hover,
.nav-button.active {
  background-color: #4A64FD;
  color: #F4F3F3;
}

.nav-item-text {
  padding-top: 2px;
}

.account {
  position: absolute;
  bottom: 20px;
  width: 100% - 40%;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}

.account-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: #262E4E solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262E4E;
  font-size: 20px;
}

.account-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.account-name,
.account-email {
  width: clamp(100px, 12vw, 150px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.account-name {
  font-size: 16px;
}

.account-email {
  font-size: 12px;
}

.options-button {
  border: none;
  cursor: pointer;
  background: none;
  position: relative;
}