.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.habit-title {
  color: #262E4E;
  font-size: 30px;
}

.habits-table-header {
  display: grid;
  grid-template-columns: 34% repeat(7, 8.5%) 6%;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}

.primary-button {
  display: flex;
  width: 100%;
}

.primary {
  background-color: #4A64FD;
  width: 100%;
  height: 60px;
  text-align: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  justify-self: start;
  margin-right: clamp(20px, 3vw, 60px);
}

.progress {
  font-size: 16px;
  color: #262E4E;
}

@media (max-width: 786px) {
  .habit-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.mobile-primary {
  position: fixed;
  right: 22px;
  bottom: 122px;
  display: flex;
  background-color: #4A64FD;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.mobile-habits-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 12px;
  position: sticky;
  top: 0;
  background: var(--your-bg-color, #fff);
  z-index: 1;
}

.mobile-weekdays {
  display: flex;
  gap: clamp(0px, calc(10 * (100vw - 375px) / 105), 10px);
}

.mobile-habits-list {
  overflow-y: auto;
  max-height: calc(100vh - 160px);
  padding-bottom: 160px;
}