.week {
    width: 100%;
    margin: 30px 30px 0 30px;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    padding-top: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.icon-container {
    display: flex;
    gap: 20px;
}

.icon-arrow:hover svg path,
.icon-arrow:hover svg circle {
    stroke: #A4ACC1;
}

thead {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.add-habit {
    width: 400px;
    height: 60px;
    background-color: #4A64FD;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 98px;
}

.calendar-header {
    display: flex;
    text-align: center;
    gap: 49px;
}

.day {
    font-size: 16px;
    color: #666C82;
    width: 80px;
}

.date{
    font-size: 24px;
    color: #666C82;
    padding-left: 15px;
}

.result {
    font-size: 18px;
    color: #F5F5F5;
    padding-right: 40px;
    text-align: right;
}

thead td.result {
    padding-left: 70px;
}

table {
    width: 100%;
    border-spacing: 0;
}

tbody {
    border-radius: 20px;
    font-size: 20px;
    color: #F5F5F5;
}

tr {
    height: 100px;
    display: flex;
    align-items: center;
}

.task {
    width: 320px;
    padding: 0 20px 0 40px;
}

.line {
    height: 100px;
    border-left: 1px solid #464B65;
    padding-right: 70px;
}

.first-line {
    border-radius: 20px;
    background-color: #2C2E39;
} 

.icon-trash {
    padding-left: 20px;
    padding-right: 60px;
}

.progress {
    padding-right: 90px;
}
