.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup-form {
  background: #FFF;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 24px;
  color: #262E4E;
  margin-bottom: 30px;
}

.inp {
  position: relative;
  display: inline-block;
  width: 375px;
  padding-bottom: 15px;
  font-family: inherit;
  margin-bottom: 20px;
}

.inp input {
  width: 100%;
  border: none;
  background: transparent;
  font-size: 18px;
  line-height: 1;
  outline: none;
}

.inp input::placeholder {
  color: #B2B2C9;
}

.inp::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #4A64FD;
}

.frequency-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.frequency-title {
  font-size: 18px;
  color: #262E4E;
}

.weekdays-checkbox {
  display: flex;
  width: 375px;
  justify-content: space-between;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle input {
  display: none;
}

.circle span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #B2B2C9;
  font-size: 22px;
  color: #B2B2C9;
  cursor: pointer;
  user-select: none;
}

.circle input:checked+span {
  background-color: none;
  border-color: #262E4E;
  color: #262E4E;
}


.submit,
.edit {
  color: #FFF;
  margin-bottom: 20px;
  background-color: #4A64FD;
  width: 375px;
  height: 60px;
  text-align: center;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.cancel {
  color: #B2B2C9;
  background-color: white;
  border: 2px solid #B2B2C9;
  width: 375px;
  height: 60px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}