.day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #92959F;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    flex-direction: row;
}

.day-name {
    font-size: 16px;
}

.day-number {
    font-size: 24px;
}

.today-name {
    font-size: 16px;
    color: #262E4E;
}

.today-number {
    font-size: 24px;
    color: #262E4E;
}

@media (max-width: 1280px) {
  .day {
    flex-direction: column;
    gap: 5px;
  }
}