*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
textarea,
select {
  font: inherit;
}

label,
button,
a {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins-Medium.woff2') format('woff2'),
    url('../public/assets/fonts/Poppins-Medium.woff') format('woff'),
    url('../public/assets/fonts/Poppins-Medium.ttf') format('truetype');

  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
}

.main {
  margin: 20px;
  width: 100%;
  transition: margin-left 0.3s ease;
}

.main.sidebar-open {
  margin-left: clamp(260px, 22vw, 290px);
}

.main.sidebar-closed {
  margin-left: 114px;
}

.main-mobile {
  margin: 16px;
  width: 100%;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}