.habit-check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.habit-check-label {
  display: flex;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.habit-check-label input {
  display: none;
}

.habit-check-label .checkbox {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #92959F;
  background-color: transparent;
}

.habit-check-label input:checked+.checkbox {
  border: 2px solid var(--habit-color);
  background-color: var(--habit-color);
}

.habit-check-label input:disabled+.checkbox {
  border-color: #DDDDDD;
  background-color: #DDDDDD;
}

@media (max-width: 768px) {
  .habit-check-label {
    width: 32px;
    height: 32px;
  }
}